@{
    ViewBag.Title = "Submission Recorded";
    ViewBag.Message = "Thank You for report submission";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thank you for your suspicious activity report. It is currently under review by law enforcement officials.</p>
