<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cd27c588-99a4-46b8-9188-0e7e015fe9c7/resourcegroups/buckshot/providers/Microsoft.Web/sites/NSIX20180</ResourceId>
    <ResourceGroup>buckshot</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nsix20180.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nsix20180.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NSIX20180</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NSIX20180</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nsix20180dbserver.database.windows.net,1433;Initial Catalog=NSIX20180_db;User ID=sqladmin@nsix20180dbserver;Password=Boomer2020" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NSIX.Models.ApplicationDbContext, NSIX" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NSIXContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:nsix20180dbserver.database.windows.net,1433;Initial Catalog=NSIX20180_db;User ID=sqladmin@nsix20180dbserver;Password=Boomer2020" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NSIX.DAL.NSIXContext, NSIX" MigrationConfiguration="NSIX.Migrations.Configuration, NSIX" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NSIXContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nsix20180dbserver.database.windows.net,1433;Initial Catalog=NSIX20180_db;User ID=sqladmin@nsix20180dbserver;Password=Boomer2020</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nsix20180dbserver.database.windows.net,1433;Initial Catalog=NSIX20180_db;User ID=sqladmin@nsix20180dbserver;Password=Boomer2020</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="NSIXContext" />
  </ItemGroup>
</Project>